/* CSS IMPORTS */

@import '../fragments/colors.scss';
@import '../fragments/mixins.scss';


/* SIDEBAR STYLES */



.sidebar{
  width:30%;
  padding-right: 1rem;
  min-height:100dvh;
  position: relative;

    .sidebar-container{

   display:flex;
   align-items: center;
   flex-direction: column;
   width:100%;
   padding-top:2rem;
   padding-left:2rem;
  
 
 
  .search{
    display:flex;
    align-items: center;
    width:100%;
    gap:2rem;
    position: relative;
   
  input{
    background: none;
    border: none;
    outline:none;
   
    border-bottom:1px solid rgb(184, 184, 184);
    color:white;
    padding:0.5rem 0rem;
    width:100%;
   

    &::placeholder{
        color:rgb(184, 184, 184);
    }
}

     .search-icon{

        position: absolute;
        right:1rem;
       
     }

       
    }

    .users{
      margin-top: 3rem;
       display:flex;
       flex-direction: column;
       gap:2rem;
       justify-content: flex-start;
       width:100%;
    
       overflow-y: auto;
       height: 500px;


       .no-match{
        color:'white';
        text-align: center;
        margin: 0 auto;
        text-wrap: wrap;
        width:100%;
        overflow-wrap: break-word;
       }

       .users-loader{

       margin: auto;
     width:100%;
     color:#b0b0b0;
       }



       .selected-user{

        

          display:flex;
          align-items: center;
          justify-content: space-between;
          padding:1rem;
          cursor: pointer;
          background-color: rgb(102, 102, 102);
       }
      .user{

        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;
        cursor: pointer;

        &:hover{
          background-color: rgb(102, 102, 102);
          width:100%;
         
          transition: .2s ease-in-out;
        }
        .user-meta{
 position: relative;
      
        display:flex;
        align-items: center;
       
       
      }
        width:100%;
        .profile-picture{

        
            width:60px;
            height:60px;
            border-radius: 50%;
            display:block;
            margin-right: 2rem;
          
        }

        .username{
          font-weight: bold;
          font-size: 1rem;
          display:flex;
          flex-direction: column;

          span{
            font-weight: 300;
            font-style: italic;
            font-size: 0.9rem;
          }
        }

       
      }
    }


    .admin{

      .admin-close{
        display:none;
       }
           

      position: absolute;
      bottom:1rem;
      left:2rem;
      display:flex;
     align-items: center;
      gap:1rem;
    

      .admin-icon{
          cursor: pointer;
        &:hover{
          color:rgb(237, 32, 66);
        }
      }

    }

} }



.online-status{
  top:2px;
  left:45px;
  position: absolute;
height:10px;
width:10px;
border-radius: 50%;
border:1px solid white;
background-color: rgb(7, 203, 7);
}

.sidebar-open{
display:flex;
  width:100%;
  padding-right: 1rem;
  min-height:100dvh;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow-y: scroll;
  transform: translateX(0%);
  transition: .3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.523);
  z-index: 9999;
    .sidebar-container{
  
   display:flex;
   align-items: center;
   flex-direction: column;
   width:100%;
   padding-top:2rem;
   padding-left:2rem;
  
 
 
  .search{
    display:flex;
    align-items: center;
    width:100%;
    gap:2rem;
    position: relative;
   
  input{
    background: none;
    border: none;
    outline:none;
   
    border-bottom:1px solid rgb(184, 184, 184);
    color:white;
    padding:0.5rem 0rem;
    width:100%;
   

    &::placeholder{
        color:rgb(184, 184, 184);
    }
}

     .search-icon{

        position: absolute;
        right:1rem;
       
     }

       
    }

    .users{
      margin-top: 3rem;
       display:flex;
       flex-direction: column;
       gap:2rem;
       justify-content: flex-start;
       width:100%;
    
       overflow-y: auto;
       height: 100%;


       .no-match{
        color:'white';
        text-align: center;
        margin: 0 auto;
        text-wrap: wrap;
        width:100%;
        overflow-wrap: break-word;
       }

       .users-loader{

       margin: auto;
     width:100%;
     color:#b0b0b0;
       }



       .selected-user{

        

          display:flex;
          align-items: center;
          justify-content: space-between;
          padding:1rem;
          cursor: pointer;
          background-color: rgb(102, 102, 102);
       }
      .user{

        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;
        cursor: pointer;

        &:hover{
          background-color: rgb(102, 102, 102);
          width:100%;
         
          transition: .2s ease-in-out;
        }
        .user-meta{
 position: relative;
      
        display:flex;
        align-items: center;
       
       
      }
        width:100%;
        .profile-picture{

        
            width:60px;
            height:60px;
            border-radius: 50%;
            display:block;
            margin-right: 2rem;
          
        }

        .username{
          font-weight: bold;
          font-size: 1rem;
          display:flex;
          flex-direction: column;

          span{
            font-weight: 300;
            font-style: italic;
            font-size: 0.9rem;
          }
        }

       
      }
    }


    .admin{
 .admin-close{
  display:block;
 }
      
      margin-top: 2rem;
      margin-bottom: 2rem;
     
      display:flex;
     align-items: center;
      justify-content: left;
      gap:1rem;
    
    

      .admin-icon{
          cursor: pointer;
        &:hover{
          color:rgb(237, 32, 66);
        }
      }

    }

} }




/* MEDIA QUERIES */


@media (max-width: 1300px) {

  .online-status{
    top:1px;
    left:40px;
    position: absolute;
  height:10px;
  width:10px;
  border-radius: 50%;
  border:1px solid white;
  background-color: rgb(7, 203, 7);
  }
  .sidebar{

    width:35%;
  .sidebar-container{
    padding-left: 1rem;
    padding-right: 0rem;
    padding-top: 1rem;
   

    .users{
      .user{
      
        .profile-picture{
          width:50px;
          height:50px;
          margin-right: 1rem;
        }
      }
    }
  }}
}


@media (max-width: 1040px) {
  .sidebar{

    width:40%;
  .sidebar-container{
    padding-left: 1rem;
    padding-right: 0rem;
    padding-top: 1rem;


    .users{
     
      .user{

       
        .profile-picture{
          width:50px;
          height:50px;
          margin-right: 1rem;
        }
      }
    }
  }}
}


@media (max-width: 960px) {
  .sidebar{
    margin:0;
    width:40%;
    padding-right: 0rem;
  .sidebar-container{
    padding-left: 1rem;
    padding-right: 0rem;
    padding-top: 1rem;
    margin:0;



    .users{
     
      .user{

       
        .profile-picture{
          width:50px;
          height:50px;
          margin-right: 1rem;
        }
      }
    }
  }}
}



@media (max-width: 810px) {
  .sidebar{
    margin:0;
    width:40%;
    padding-right: 0rem;
  .sidebar-container{
    padding-left: 1rem;
    padding-right: 0rem;
    padding-top: 1rem;
    margin:0;



    .users{
     
      .user{

       
        .profile-picture{
          width:50px;
          height:50px;
          margin-right: 1rem;
        }

        .username{
        
          span{
            white-space: nowrap; /* Prevent wrapping */
            overflow: hidden; /* Hide overflow */
            text-overflow: ellipsis; /* Add ellipsis for long text */
            max-width: 120px; /* Set a maximum width */
            display: inline-block;
          }
        }
      }
    }
  }}
}



@media (max-width: 720px) {
  .sidebar{
    margin:0;
    width:45%;
    padding-right: 0rem;
  .sidebar-container{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1rem;
    margin:0;



    .users{
      margin-top: 1rem;
      gap:1rem;
      .user{
padding-top: 1rem;
       
        .profile-picture{
          width:50px;
          height:50px;
          margin-right: 1rem;
        }

        .username{
        
          span{
            white-space: nowrap; /* Prevent wrapping */
            overflow: hidden; /* Hide overflow */
            text-overflow: ellipsis; /* Add ellipsis for long text */
            max-width: 100px; /* Set a maximum width */
            display: inline-block;
          }
        }
      }
    }
  }}
}

@media(min-width:570px){
  .sidebar-open{
    transform: translateX(-100%);
    transition: .3s ease-in-out;
   }


  .sidebar{
    position: relative;
    transform: translateX(0%);
    transition: .3s ease-in-out;
    width:45%;
   }
}

@media (max-width: 570px) {

  .admin{

     
           

   
   
    display:flex;
   align-items: center;
   margin: 2rem 0rem;
    gap:1rem;
  

    .admin-icon{
        cursor: pointer;
      &:hover{
        color:rgb(237, 32, 66);
      }
    }

  }

  .sidebar{
  
    position: fixed;
   
  z-index: 9999;
    margin:0;
    width:50%;
    transform: translateX(-100%);
    transition: .3s ease-in-out;
    padding-right: 0rem;

       
  .sidebar-container{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1rem;
    margin:0;

    

    .users{
      margin-top: 1rem;
      gap:1rem;
      .user{
padding-top: 1rem;
       
        .profile-picture{
          width:50px;
          height:50px;
          margin-right: 1rem;
        }

        .username{
        
          span{
            white-space: nowrap; /* Prevent wrapping */
            overflow: hidden; /* Hide overflow */
            text-overflow: ellipsis; /* Add ellipsis for long text */
            max-width: 100px; /* Set a maximum width */
            display: inline-block;
          }
        }
      }
    }
  }}
}